.DS_Store
batch/__pycache__/

front-web/.DS_Store
front-web/node_modules
front-web/dist
front-web/src/properties

# local env files
front-web/.env.local
front-web/.env.*.local

# Log files
front-web/npm-debug.log*
front-web/yarn-debug.log*
front-web/yarn-error.log*

# Editor directories and files
front-web/.idea
front-web/.vscode
front-web/*.suo
front-web/*.ntvs*
front-web/*.njsproj
front-web/*.sln
front-web/*.sw?
